.uikit-theme-aqua
    .uikit
        &.uikit-video-player
            .uikit-video-player-controls
                display flex
                justify-content: space-between
                align-items: center
                height 4rem
                background-color: rgba(0,0,0,0.5)
                z-index 1
                transition: 0.2s

                .uikit-video-player-pp
                    position: relative
                    width 4rem
                    height 4rem
                    overflow hidden
                    cursor: pointer
                    border-top-right-radius: 0.1667rem

                    &:hover
                        background-color: #e75735

                .uikit-video-player-range
                    height 4rem
                    flex 1

                .uikit-video-player-fsbtn
                    width 4rem
                    height 4rem
                    background-color: #e75735
                    background-image: url('./Shape 22.png')
                    background-repeat: no-repeat
                    background-position: center center
                    cursor: pointer
                    border-top-left-radius: 0.1667rem

            &[data-playing="false"]
                .uikit-video-player-controls
                    .uikit-video-player-pp
                        &:hover
                            &::before
                                content ""
                                position absolute
                                width 0
                                height 0
                                border: 0.5833rem solid transparent
                                border-left: 0.9167rem solid #bf3e1f
                                top calc(50% - 0.5rem)
                                left calc(50% - 0.4583rem)

                    .uikit-video-player-pp::after
                        content ""
                        position absolute
                        width 0
                        height 0
                        border: 0.5rem solid transparent
                        border-left: 0.8333rem solid white
                        top calc(50% - 0.5833rem)
                        left calc(50% - 0.3333rem)

            &[data-playing="true"]
                .uikit-video-player-controls
                    .uikit-video-player-pp
                        &:hover
                            &::before
                            &::after
                                box-shadow: -0.125rem 0.1667rem 0 0 #bf3e1f

                    .uikit-video-player-pp::before
                        content ""
                        position absolute
                        width 0.1667rem
                        height 0.8333rem
                        top calc(50% - 0.4167rem)
                        left calc(50% - 0.3333rem)
                        background-color: white

                    .uikit-video-player-pp::after
                        content ""
                        position absolute
                        width 0.1667rem
                        height 0.8333rem
                        top calc(50% - 0.4167rem)
                        left calc(50% + 0.1667rem)
                        background-color: white

            &[data-controls-show="false"]
                .uikit-video-player-controls
                    opacity: 0
                    pointer-events none