.uikit-stages-between
	position absolute
	
.uikit-stages-between.horizontal
	height 100%
	display table-cell

.uikit-stages-between.vertical
	width 100%
	display table-row
	
.uikit-stages-between.staged
	background-color var(--color-1)
	
	