.uikit-theme-aqua
    .uikit
        &.uikit-stages
            &.horizontal
                width 100%
                height 29px

            &.vertical
                width 29px
                height 100%
