.uikit-slider-input
	position relative
	height 21px
	width 100px
	background-color white
	border 1px solid #e5e5e5
	border-radius 3px
	font-family Lato
	font-size 11px
	color #e75735
	padding-left 5px
	padding-right 5px
	transition box-shadow 0.2s, color 0.2s
	
.uikit-slider-input:focus
	outline none
	border-color #e75735
	box-shadow 0 2px 0 0 #e75735