div.uikit-event-picture
    img
div.uikit-event-content
    div.uikit-event-date
        div.uikit-event-date-day
        div.uikit-event-date-month
    div.uikit-event-info
        div.uikit-event-title
        div.uikit-event-text
    div.uikit-event-action
        div