.uikit-theme-aqua
    .uikit
        &.uikit-calendar
            width 17.4375rem
            border-radius 3px
            overflow hidden
            background-color white
            display flex
            flex-direction: column
            justify-content: space-between
            
            &:hover
                .uikit-calendar-day-month
                    .uikit-calendar-year
                        opacity 1

            .uikit-calendar-today-btn
                height 49px
                width 100%
                background-color: #e5e5e5
                font-family: Lato
                color #868686
                font-size: 13px
                font-weight: bold
                text-align: center
                padding-top 10px
                cursor: default
                text-transform: uppercase
                text-align left
                padding 16px
                box-sizing: border-box
                cursor: pointer
