.uikit-theme-aqua
    .uikit
        &.uikit-calendar
            width 23.25rem
            border-radius 0.25rem
            overflow hidden
            background-color white
            display flex
            flex-direction: column
            justify-content: space-between
            
            &:hover
                .uikit-calendar-day-month
                    .uikit-calendar-year
                        opacity 1

            .uikit-calendar-today-btn
                height 4.0833rem
                width 100%
                background-color: #e5e5e5
                font-family: Lato
                color #868686
                font-size: 1.0833rem
                font-weight: bold
                text-align: center
                padding-top 0.8333rem
                cursor: default
                text-transform: uppercase
                text-align left
                padding 1.3333rem
                box-sizing: border-box
                cursor: pointer
