.uikit-input-text input
	background-color #e5e5e5
	border none
	border-radius 3px
	padding 0 12px
	margin 6px 0
	height 28px
	color #888
	display table-cell
	width 100%

.uikit-input-text input:focus
	outline none
