include ../../mixins.pug

doctype html
html(lang='ru')
	head
		meta(charset="utf-8")
		meta(viewport="width=device-width")
		title UIKit - Tickbox
	body
		a(href='../') Back
		br
		span styles
		select(id="style-select-id")
		br
		br
		+addUIKitTickbox('uikit-tickbox-id-1', true)
		br
		+addUIKitTickbox('uikit-tickbox-id-2', false)
		br
		+addUIKitTickbox('uikit-tickbox-id-3', true)
		br
		input(type='submit', value='check', id='uikit-tickbox-submit-id-1', style='width: 100px; height 16px;')
