include ./uikit-slider-track/index.pug
include ./uikit-slider-rule/index.pug

mixin addUIKit_Slider(id, minimum, maximum, value, ruleSegments)
	div.uikit-slider(id=id, maximum=maximum, minimum=minimum, value=value)
		+addUIKitSlider_Track()
		+addUIKitSlider_Rule(ruleSegments)
