.uikit-slider
	position relative
	width auto
	height auto
	display flex
	flex-direction column
	justify-content center
	align-items center
	cursor pointer
	
.uikit-slider.horizontal
	flex-direction column
	
.uikit-slider.vertical
	flex-direction row