.uikit-theme-sea
    .uikit
        &.uikit-button
            position relative
            display flex
            flex-direction column
            justify-content center
            height 100%
            background-color white
            border 1px solid #255da9
            border-radius 3px
            box-shadow 0 3px 0px 0px #255da9
            color #255da9
            cursor pointer
            overflow hidden
            transition 0.2s

            &:hover
                box-shadow 0 3px 0px 0px #1b457d
                background-color #255da9
                color white

            &:active
                box-shadow 0 0px 0px 0px #255da9
