.uikit-slider-rule
	width 100%
	position relative
	display table
	cursor default
	margin-top 3px
		
	div
		position relative
		font-family Lato
		font-size 11px
		color #d1d1d1
		font-weight bold
		text-align center
		cursor pointer
		
	div:hover
		color #e75735 
