.uikit-slider-rule
	position relative
	display table
	cursor default
		
	div.rule-item
		position relative
		font-family Lato
		font-size 11px
		color #d1d1d1
		font-weight bold
		cursor pointer

		div
			display flex
			justify-content center
			align-items center
		
	div.rule-item:hover
		color #e75735 

.uikit-slider-rule.horizontal
	width 100%
	height auto
	margin-top 3px

	div.rule-item
		display table-cell			

	div.rule-item:first-child
		div
			justify-content flex-start

	div.rule-item:last-child
		div
			justify-content flex-end

.uikit-slider-rule.vertical
	height 100%
	width auto
	margin-left 3px

	div.rule-item
		display table-row
		
		div
			width 100%
			height 100%

	div.rule-item:first-child
		div
			align-items flex-start

	div.rule-item:last-child
		div
			align-items flex-end