.uikit-theme-sea
    .uikit
        &.uikit-stages
            &[data-type="horizontal"]
                width 100%
                height 29px

            &[data-type="vertical"]
                width 29px
                height 100%
