mixin addRadialProgressBar(val)
    div.ui-radial-progress-bar(value=val)
        div.wrapper-right
            div.progress-right
        div.wrapper-left
            div.progress-left
        div.text.no-select #{val}