.uikit-theme-aqua
    .uikit
        &.uikit-stages
            .uikit-stages-track
                background-color #e5e5e5
                position relative
                display flex
                justify-content space-between
                align-items center

            &[data-type="horizontal"]
                .uikit-stages-track
                    width inherit
                    height 5px
                    flex-direction row

                &[data-invert="true"]
                    .uikit-stages-track
                        flex-direction row-reverse

            &[data-type="vertical"]
                .uikit-stages-track
                    height inherit
                    width 5px
                    flex-direction column

                &[data-invert="true"]
                    .uikit-stages-track
                        flex-direction column-reverse
