.uikit-stage-caption
	position relative
	color white
	font-family Lato
	font-size 14px
	color #8a8a8a
	font-weight bold
	display flex
	justify-content center
	align-items center
	line-height 0px
	
.staged .uikit-stage-caption
	color white