.uikit-stages
	position relative
	display flex
	align-items center
	justify-content center
	
.uikit-stages.horizontal
	flex-direction column
	width 100%
	height 31px
	
.uikit-stages.vertical
	flex-direction row
	width 31px
	height 100%