.uikit-theme-aqua
    .uikit
        &.uikit-event
            width 24rem
            height 17.6667rem
            display flex
            justify-content: space-between
            align-items: center
            border-radius: 0.25rem

            .uikit-event-picture
                display flex
                width 7.9167rem
                height: inherit 

            .uikit-event-content
                display:  flex
                flex-direction: column
                justify-content: space-between
                align-items: center
                height 100%
                width: 100%
                box-sizing: border-box
                padding 1.9167rem 2.1667rem
                color white
                font-family: Lato

                .uikit-event-date
                    display flex
                    align-items: flex-end
                    justify-content: space-around

                    .uikit-event-date-day
                        font-size 6.0833rem
                        font-weight 200
                        line-height 5.25rem
                        box-sizing: border-box
                        padding-right 0.3333rem

                    .uikit-event-date-month
                        font-size 2.5rem
                        font-weight: 100
                        box-sizing: border-box
                        padding-left: 0.3333rem

                .uikit-event-title
                    text-transform: uppercase
                    font-size: 1rem
                    font-weight: normal
                    text-align: left
                    line-height: 1.6667rem
                    letter-spacing: 0.0667rem

                .uikit-event-text
                    font-weight: 300
                    text-align: left
                    font-size: 0.9167rem
                    letter-spacing: 0.0333rem

                    p
                        margin 0

            &[data-variant="aqua"]
                background-color: #4eb7a8

            &[data-variant="orangered"]
                background-color: #e75735
                