div.uikit-profile-bar-photo
    img
div.uikit-profile-bar-info
    div.uikit-profile-bar-person
        din.uikit-profile-bar-name
        div.uikit-profile-bar-occupation
    div.uikit-profile-bar-social
        a(href='#').social-facebook
        a(href='#').social-twitter
        a(href='#').social-dribbble