.uikit-theme-aqua
    .uikit
        &.uikit-button
            position relative
            display flex
            flex-direction column
            justify-content center
            height 100%
            background-color white
            border 1px solid #4EB7A8
            border-radius 3px
            box-shadow 0 3px 0px 0px #4EB7A8
            color #4EB7A8
            cursor pointer
            overflow hidden
            transition 0.2s

            &:hover
                box-shadow 0 3px 0px 0px #28a290
                background-color #4EB7A8
                color white

            &:active
                box-shadow 0 0px 0px 0px #4EB7A8

            &[data-variant="error"]
                border 1px solid #e75735
                box-shadow 0 3px 0px 0px #e75735
                color #e75735

            &[data-variant="error"]:hover
                box-shadow 0 3px 0px 0px #bf3e1f
                background-color #e75735
                color white

            &[data-variant="error"]:active
                box-shadow 0 0px 0px 0px #e75735
