.uikit-theme-sea
    .uikit
        &.uikit-progress-bar
            .uikit-progress-bar-caption
                position absolute
                font-family Lato
                font-size 10px
                color white
                font-weight 200
                filter invert(1) grayscale(1) contrast(9)
                text-align center
                left 0
                right 0

            &.vertical
                .uikit-progress-bar-caption
                    display none
