.uikit-theme-aqua
    .uikit
        &.uikit-slider
            .uikit-slider-fill
                border-radius 3px
                background-color #e5e5e5

            &.horizontal
                .uikit-slider-fill
                    height 5px
                    width 100%

            &.vertical
                .uikit-slider-fill
                    display flex
                    height 100%
                    width 5px
                    flex-direction column-reverse
