.uikit-theme-aqua
    .uikit
        &.uikit-video-player
            .uikit-video-player-controls
                .uikit-video-player-sound
                    width 2.5rem
                    height 4rem
                    margin 0 0.1667rem
                    position: relative

                    .sound-box
                        position: absolute
                        height: 12.5rem
                        width: inherit 
                        top 0
                        display flex
                        flex-direction: column
                        transition top 0.2s
                        border-top-left-radius: 0.1667rem
                        border-top-right-radius: 0.1667rem
                        overflow hidden

                        .pic
                            height 4rem
                            width inherit
                            background-image: url('./speaker.png')
                            background-repeat: no-repeat
                            background-position: center center
                            background-size: 1.5833rem
                            background-color: #e75735

                        .sound-range
                            background-color: #111
                            display flex
                            align-items: center
                            justify-content: center
                            flex 1
                            box-sizing: border-box
                            padding 0.5833rem 0

                            .sound-track
                                width 0.75rem
                                cursor: pointer
                                height: 100%
                                display flex
                                justify-content: center

                                .sound-filler
                                    height 100%
                                    width 0.3333rem
                                    background-color: #e5e5e5
                                    display: flex
                                    flex-direction: column-reverse
                                    border-radius: 0.25rem
                                    
                                    .sound-filled
                                        border-radius: 0.25rem
                                        width 100%
                                        background-color: #e75735

                    &:hover
                        .sound-box
                            top -8.5rem

