.uikit-radial-progress
    display flex
    justify-content center
    align-items center

    .wrapper-right
        width inherit
        height inherit
        position absolute
        background-color transparent

        .progress-right
            position absolute

    .wrapper-left
        width inherit
        height inherit
        position absolute
        background-color transparent

        .progress-left
            position absolute
