div.uikit-calendar-day-month
    div.uikit-calendar-year 2018
    div.uikit-calendar-day
        span 24
    div.uikit-calendar-month
        div.btn-left
        div.caption
            span September
        div.btn-right
div.uikit-calendar-week-days
    div.uikit-calendar-week
    div.uikit-calendar-days-grid
div.uikit-calendat-today-btn
    span Today