div.uikitCalendar__header
    div.uikitCalendar__year 2018
    div.uikitCalendar__currentDay
        span 24
    div.uikitCalendar__monthSwitcher
        div.uikitCalendar__previousMonthButton
        div.uikitCalendar__monthFullName
            span September
        div.uikitCalendar__nextMonthButton
div.uikitCalendar__weekDays
    div.uikitCalendar__week
    div.uikitCalendar__daysGrid
div.uikitCalendar__setTodayButton
    span Today