.uikit-toggle-thumb
	position absolute
	transition left 0.2s, top 0.2s
	display flex
	
	.circle
		border-radius 50%
		background-color white
		width 18px
		height 18px

.uikit-toggle-thumb.horizontal
	height 20px
	align-items center
	
	.circle
		transform translateX(-50%)
	
.uikit-toggle-thumb.vertical
	width 20px
	justify-content center
	
	.circle
		transform translateY(-50%)
		
.uikit-toggle-thumb.horizontal.checked
	left 100%
	
.uikit-toggle-thumb.horizontal:not(.checked)
	left 0
	
.uikit-toggle-thumb.vertical.checked
	top 0
	
.uikit-toggle-thumb.vertical:not(.checked)
	top 100%