.uikit-theme-sea
    .uikit
        &.uikit-arrow-button
            border-radius 3px
            background-color white
            border 3px solid #255da9
            width 42px
            height 42px

            &.disabled
                background-color #e4e4e4
                border-color #e4e4e4

            &.disabled::after
            &.disabled::before
                background-color white !important

            &:not(.disabled):hover
                background-color #255da9

            &:not(.disabled):hover.uikit-arrow-button::after
            &:not(.disabled):hover.uikit-arrow-button::before
                background-color white

            &.left
                transform scale(-1, 1)

            &.right::after
                background-color #255da9
                width 18px
                height 4px
                top 14px
                left 14px
                transform rotate(45deg)

            &.right::before
                background-color #255da9
                width 18px
                height 4px
                top 24px
                left 14px
                transform rotate(-45deg)

            &.left::after
                background-color #255da9
                width 18px
                height 4px
                top 14px
                left 14px
                transform rotate(45deg)

            &.left::before
                background-color #255da9
                width 18px
                height 4px
                top 24px
                left 14px
                transform rotate(-45deg)
