.uikit-theme-aqua
    .uikit
        &.uikit-slider
            &.horizontal
                .uikit-slider-track
                    height 21px
                    width 100%

            &.vertical
                .uikit-slider-track
                    width 21px
                    height 100%
                    justify-content center
