.uikit-theme-aqua
    .uikit
        .uikit-button-caption
            font-family Lato
            text-transform uppercase
            font-weight bold
            text-align center
            margin auto 0
            font-size 12px
            letter-spacing 0.5px
