.uikit-stages
    .uikit-stages-track
        position relative
        display flex
        justify-content space-between
        align-items center

    &.horizontal
        .uikit-stages-track
            flex-direction row

        &.invert
            .uikit-stages-track
                flex-direction row-reverse

    &.vertical
        .uikit-stages-track
            flex-direction column

        &.invert
            .uikit-stages-track
                flex-direction column-reverse
