.uikit-stages
    .uikit-stages-track
        position relative
        display flex
        justify-content space-between
        align-items center

    &[data-type="horizontal"]
        .uikit-stages-track
            flex-direction row

        &[data-invert="true"]
            .uikit-stages-track
                flex-direction row-reverse

    &[data-type="vertical"]
        .uikit-stages-track
            flex-direction column

        &[data-invert="true"]
            .uikit-stages-track
                flex-direction column-reverse
