.uikit-theme-aqua
    .uikit
        &.uikit-input-checkbox
            display inline-flex
            position relative
            align-items center
            justify-content flex-start
            vertical-align middle

            input 
                display none

            label 
                padding 0 0.5rem
                font-family Lato
                font-size 1.1667rem
                font-weight normal