.uikit-theme-aqua
    .uikit
        &.uikit-input-checkbox
            display inline-flex
            position relative
            align-items center
            justify-content flex-start
            vertical-align middle

            input 
                display none

            label 
                padding 0 6px
                font-family Lato
                font-size 14px
                font-weight normal