/*.uikit-aqua
	.uikit
	& div.uikit
		--color-1 #4EB7A8
		--color-2 #28A290

.uikit-lightred
	.uikit
	& div.uikit
		--color-1 #E75735
		--color-2 #BF3E1F
		
.uikit-lightblue
	.uikit
	& div.uikit
		--color-1 #5b63ff
		--color-2 #343891*/

uikit-style-aqua = 
	--color-1 #4EB7A8
	--color-2 #28A290

div.uikit.uikit-style-aqua, .uikit-style-aqua .uikit
	{uikit-style-aqua}



uikit-style-lightred = 
	--color-1 #E75735
	--color-2 #BF3E1F

div.uikit.uikit-style-lightred, .uikit-style-lightred .uikit
	{uikit-style-lightred}
	


uikit-style-lightblue = 
	--color-1 #5b63ff
	--color-2 #343891

div.uikit.uikit-style-lightblue, .uikit-style-lightblue .uikit
	{uikit-style-lightblue}