textarea.uikit-textarea
	position relative
	background-color #e5e5e5
	border none
	border-radius 3px
	color #888
	font-size 14px
	font-family Source Sans Pro
	font-weight 400
	letter-spacing 0.14px
	text-align left
	padding 6px 12px
	flex 2

textarea.uikit-textarea:focus
	outline none

textarea.uikit-textarea.resizeble
	resize both

textarea.uikit-textarea:not(.resizeble)
	resize none
