include ./uikit-button-caption/index.pug
include ./uikit-button-effect/index.pug

mixin addUIKitButton(caption, id)
	div.uikit.uikit-button(id=id, caption=caption)
		+addUIKitButton_Caption()
		+addUIKitButton_Effect()