.uikit-button
	position relative
	background-color white
	border 1px solid var(--color-1)
	border-radius 3px
	height 100%
	display flex
	flex-direction column
	justify-content center
	cursor pointer
	box-shadow 0 3px 0px 0px var(--color-1)
	color var(--color-1)
	transition 0.2s
	overflow hidden
				
.uikit-button:hover
	box-shadow 0 3px 0px 0px var(--color-2)
	background-color var(--color-1)
	color white
	
.uikit-button:active
	box-shadow 0 0px 0px 0px var(--color-2)