.uikit-theme-aqua
    .uikit
        .uikit-button-effect
            position absolute
            border-radius 50%
            width 0rem
            height 0rem
            top 2.0833rem
            left 1.6667rem
            background-color white
            opacity 1
            transform scale(0)

            &.animate
                animation radial 0.5s linear
                @keyframes radial
                    100%
                        opacity 0
                        transform scale(3)
