.uikit-theme-aqua
    .uikit
        &.uikit-progress-bar
            .uikit-progress-bar-filler
                position relative
                height inherit
                background-color #4EB7A8

            &.horizontal
                .uikit-progress-bar-filler
                    height 100%

            &.vertical
                .uikit-progress-bar-filler
                    width 100%
