.uikit-theme-sea
    .uikit
        &.uikit-radial-progress
            width 100px
            height 100px

        .wrapper-right
            clip rect(0px, 100px, 100px, 50px)

            .progress-right
                width calc(100% - 10px)
                height calc(100% - 10px)
                border-radius 50%
                border 5px solid #255da9
                background-color transparent
                clip rect(0px, 50px, 100px, 0px)
                transform rotate(0deg)

        .wrapper-left
            clip rect(0px, 50px, 100px, 0px)

            .progress-left
                width calc(100% - 10px)
                height calc(100% - 10px)
                border-radius 50%
                border 5px solid #255da9
                background-color transparent
                clip rect(0px, 50px, 100px, 0px)
                transform rotate(180deg)
