include ../../mixins.pug

doctype html
html(lang='ru')
	head
		meta(charset="utf-8")
		meta(viewport="width=device-width")
		title UIKit - Arrow button
	body
		div
			a(href='../') Back
		br
		span styles
		select(id='style-select-id')
		br
		br
		div(style='width: 80px; height: 28px;')
			+addUIKitArrowButton('uikit-arrow-button-id-1', true, 'left')
		br
		br
		div(style='width: 80px; height: 28px;')
			+addUIKitArrowButton('uikit-arrow-button-id-2', true, 'right')
		br
		br
		div(style='width: 80px; height: 28px;')
			+addUIKitArrowButton('uikit-arrow-button-id-3', false, 'left')
		br
		br
		div(style='width: 80px; height: 28px;')
			+addUIKitArrowButton('uikit-arrow-button-id-4', false, 'right')
		br
		br
		input(type='checkbox', id='arrow-button-checkbox-id-4')
