include ../../mixins.pug

doctype html
html(lang='ru')
	head
		meta(charset="utf-8")
		meta(viewport="width=device-width")
		title UIKit - Stages
	body
		a(href='../') Back
		br
		span styles
		select(id="style-select-id")
		br
		+addUIKitToggle('uikit-toggle-id-1', 'horizontal', false, false)
		br
		+addUIKitToggle('uikit-toggle-id-2', 'horizontal', false, true)
		br
		+addUIKitToggle('uikit-toggle-id-3', 'horizontal', true, true)
		br
		+addUIKitToggle('uikit-toggle-id-4', 'vertical', true, true)