.uikit-theme-aqua
    .uikit
        &.uikit-stages
            .uikit-stages-stage
                position relative
                display flex
                justify-content center
                align-items center
                width 2.5833rem
                height 2.5833rem
                border-radius 50%
                background-color #e5e5e5

                &.staged
                    background-color #4EB7A8
