.ui-button
  position relative
  background-color white
  border 1px solid var(--ui-color)
  border-radius 3px
  height 100%
  display flex
  flex-direction column
  justify-content center
  cursor pointer
  box-shadow 0 3px 0px 0px var(--ui-color)
  color var(--ui-color)
  transition 0.2s
  overflow hidden

  .ui-button-caption
    font-family Lato
    text-transform uppercase
    font-weight bold
    text-align center
    margin auto 0
    font-size 12px
    letter-spacing 0.5px

  .ui-radial
    position absolute
    border-radius 50%
    width 0px
    height 0px
    top 25px
    left 20px
    background-color white
    opacity 1
    transform scale(0)

  .ui-radial.animate
    animation radial 0.5s linear
    @keyframes radial
      100%
        opacity 0
        transform scale(3)

.ui-button.aqua
  --ui-color #4EB7A8
  --box-shadow-color #28A290

.ui-button.lightred
  --ui-color #E75735
  --box-shadow-color #BF3E1F

.ui-button:hover
  box-shadow 0 3px 0px 0px var(--box-shadow-color)
  background-color var(--ui-color)
  color white

.ui-button:active
  box-shadow 0 0px 0px 0px var(--box-shadow-color)