.uikit-theme-aqua
    .uikit
        &.uikit-input-checkbox
            .uikit-input-checkbox-container
                display flex
                align-items center
                justify-content center
                width 1.3333rem
                height 1.3333rem
                border-radius 0.25rem
                border 0.0833rem solid #4EB7A8
                cursor pointer
                overflow hidden
                position relative

                .checkbox-color-check
                    position absolute
                    display inline-block
                    width 0.4167rem
                    height 0.8333rem
                    border solid #4EB7A8
                    border-width 0 0.1667rem 0.1667rem 0
                    transform rotate(45deg) scale(0.8)
                    transition 0.2s
                    bottom 0.25rem
                    left 0.4167rem

        &.uikit-input-checkbox[data-checked="true"]
            .checkbox-color-check
                opacity 1
                border-color white

            .uikit-input-checkbox-container
                background-color #4EB7A8

        &.uikit-input-checkbox[data-checked="false"]
            .checkbox-color-check
                opacity 0
                border-color #4EB7A8

            .uikit-input-checkbox-container
                &:hover
                    .checkbox-color-check
                        opacity 1