.uikit-stages
	position relative
	display flex
	align-items center
	justify-content center

.uikit-stages
    &[data-type="horizontal"]
	   flex-direction column

.uikit-stages
    &[data-type="vertical"]
	   flex-direction row
