.uikit-theme-aqua
    .uikit
        &.uikit-news
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            box-sizing: border-box
            width 24rem
            height 17.6667rem
            border-radius: 0.25rem

            .uikit-news-picture
                display flex
                width 7.9167rem
                height inherit

            .uikit-news-article
                color white
                font-family: Lato
                box-sizing: border-box
                padding 1.9167rem 2.1667rem
                height 100%

                .uikit-news-header
                    font-weight: 200
                    font-size: 2.3333rem
                    text-align: left
                    line-height: 2.25rem

                .uikit-news-date
                    text-align: left
                    font-size: 0.9167rem
                    text-transform: uppercase
                    letter-spacing: 0.0833rem
                    word-spacing: 0.3333rem

                .uikit-news-content
                    font-weight: 300
                    text-align: left
                    font-size: 0.9167rem

                    p
                        margin: 0
        
            &[data-variant="orangered"]
                background-color: #e75735
                

            &[data-variant="aqua"]
                background-color: #4eb7a8
