.uikit-theme-aqua
    .uikit
        &.uikit-toggle
            position relative
            display flex
            background-color #4EB7A8
            transition 0.2s

            .left-dummy
                position absolute
                width 24px
                height 24px
                background-color #4EB7A8
                border-radius 50%
                transition background-color 0.2s

            .right-dummy
                position absolute
                width 24px
                height 24px
                background-color var(--color-1)
                border-radius 50%
                transition background-color 0.2s

            .text-left
                display flex
                position absolute
                color white
                font-family Lato
                font-weight bold
                font-size 12px
                transition opacity 0.2s
                z-index 1
                cursor default

            .text-right
                display flex
                position absolute
                color white
                font-family Lato
                font-weight bold
                font-size 12px
                transition opacity 0.2s
                z-index 1
                cursor default

        &[text-enabled="false"]
            .text-right
            .text-left
                display none

        &.vertical
            height 36px
            width 24px
            justify-content center
            margin 12px 0

            .left-dummy
                top -12px

            .right-dummy
                bottom -12px

            .text-left
                display none

            .text-right
                display none

        &.horizontal
            height 24px
            width 36px
            align-items center
            margin 0 12px

            .left-dummy
                left -12px

            .right-dummy
                right -12px

            .text-left
                left 0
                height 24px
                align-items center

            .text-right
                right 0
                height 24px
                align-items center

        &.checked
            background-color #4EB7A8

            .left-dummy
            .right-dummy
                background-color #4EB7A8

            .text-left
                opacity 1

            .text-right
                opacity 0

        &:not(.checked)
            background-color #e5e5e5

            .left-dummy
            .right-dummy
                background-color #e5e5e5

            .text-left
                opacity 0

            .text-right
                opacity 1
