.uikit-theme-aqua
    .uikit
        &.uikit-slider
            .uikit-slider-thumb
                .circle
                    width 21px
                    height 21px
                    background-color #4EB7A8
                    border-radius 50%
                    left -10.5px

            &.vertical
                .uikit-slider-thumb
                    .circle
                        top -10.5px
                        left 0
