.uikit-theme-aqua
    .uikit
        &.uikit-slider
            .uikit-slider-thumb-upper
                height 23px
                border-radius 5px
                background-color #4EB7A8
                bottom 31px

                div
                    color white
                    font-family Lato
                    font-size 13px
                    font-weight bold
                    text-align center
                    padding 10px
                    margin-top 3px

            &.horizontal
                .uikit-slider-thumb-upper
                    bottom 31px

            &.horizontal
                .uikit-slider-thumb-upper::before
                    width 7px
                    height 7px
                    background-color #4EB7A8
                    border-radius 0 0 2px 0
                    transform rotate(45deg)
                    bottom -3px
                    right 0
                    left 0
                    margin auto

            &.horizontal
                .uikit-slider-thumb-upper::after
                    height 6px
                    width 6px
                    background-color white
                    border-radius 0 0 2px 0
                    transform rotate(45deg)
                    bottom -3px
                    left 0
                    right 0
                    margin auto

            &.vertical
                .uikit-slider-thumb-upper
                    bottom -11.5px
                    right 31px

            &.vertical
                .uikit-slider-thumb-upper::before
                    width 7px
                    height 7px
                    background-color #4EB7A8
                    border-radius 0 0 2px 0
                    transform rotate(45deg)
                    bottom 0
                    top 0
                    right -3px
                    margin auto

            &.vertical
                .uikit-slider-thumb-upper::after
                    height 6px
                    width 6px
                    background-color white
                    border-radius 0 0 2px 0
                    transform rotate(45deg)
                    bottom 0
                    top 0
                    right -3px
                    margin auto
