.uikit-theme-aqua
    .uikit
        &.uikit-video-player
            .uikit-video-player-controls
                .uikit-video-player-range
                    position: relative
                    display flex
                    justify-content: space-between
                    align-items: center
                    box-sizing: border-box

                    .duration
                    .current-time
                        display flex
                        justify-content: center
                        align-items: center
                        width: 6.5rem
                        height: 4rem
                        color white
                        text-align: center
                        font-family Lato
                        font-size 0.9167rem
                        font-weight: 200
                        letter-spacing: 0.0833rem
                        cursor default

                    .range
                        flex 1
                        height 4rem
                        display flex
                        align-items: center

                        .track
                            display flex
                            align-items: center
                            height 0.9167rem
                            width: 100%
                            cursor: pointer
                            position: relative

                            .filler
                                height 0.4167rem
                                width: 100%
                                background-color: #e5e5e5
                                border-radius: 0.25rem
                                display flex
                                align-items: center
                                justify-content: flex-start

                                .filled
                                    border-radius: 0.25rem
                                    height 100%
                                    background-color: #e75735

                            .upper
                                position: absolute
                                width: auto
                                display flex
                                justify-content: center
                                align-items: center
                                pointer-events: none
                                transition: opacity 0.2s, width 0.2s
                                background-color: #111
                                color white
                                font-size 0.9167rem
                                font-weight: 200
                                font-family: Lato
                                letter-spacing: 0.0833rem
                                opacity: 0
                                border-radius: 0.1667rem
                                bottom 1.8333rem
                                transform: translateX(-50%)

                                div
                                    padding: 0.25rem 0.8333rem
                                    margin-top: 0.0833rem

                                &[data-show="true"]
                                    opacity 1