.uikit-theme-aqua
    .uikit
        &.uikit-input-search
            .uikit-input-search-btn
                position relative
                height 2.3333rem
                width 2.75rem
                display flex
                align-items center
                justify-content center
                border-top-right-radius 0.25rem
                border-bottom-right-radius 0.25rem
                background-color #e75735
                cursor pointer
                transition background-color 0.2s

                .uikit-input-search-mag
                    position absolute
                    width 0.5833rem
                    height 0.5833rem
                    border 0.1667rem solid white
                    border-radius 50%
                    bottom 0.8333rem
                    left 0.75rem
                    transform scale(0.9)

                .uikit-input-search-mag::after
                    content ""
                    position absolute
                    height 0.25rem
                    width 0.75rem
                    transform rotate(45deg)
                    background-color white
                    left 0.4167rem
                    top 0.6667rem

            .uikit-input-search-btn:hover
                background-color #bf3e1f