.uikit-theme-aqua
    .uikit
        &.uikit-input-arrow-button
            display flex
            position: relative
            align-items: center
            justify-content: center
            width 3.5rem
            height 3.5rem
            border 0.25rem solid #4eb7a8
            box-sizing: border-box
            border-radius: 50%
            transition 0.2s

            input 
                display none

            .uikit-input-arrow-button-arrow
                width 3.5rem
                height 3.5rem
                position relative
                transition 0.2s

            .uikit-input-arrow-button-arrow::after
                position absolute
                content ""
                background-color #4EB7A8
                width 1.3333rem
                height 0.3333rem
                top 1.1667rem
                left 1.1667rem

            .uikit-input-arrow-button-arrow::before
                position absolute
                content ""
                background-color #4EB7A8
                width 1.3333rem
                height 0.3333rem
                top 2rem
                left 1.1667rem

            &[data-variant="left"]
                .uikit-input-arrow-button-arrow
                    transform scale(0.9)

                .uikit-input-arrow-button-arrow::after
                    transform rotate(-45deg)
                    left 0.6667rem
                    top 1.1667rem

                .uikit-input-arrow-button-arrow::before
                    transform rotate(45deg)
                    left 0.6667rem
                    top 2rem

            &[data-variant="right"]
                .uikit-input-arrow-button-arrow::after
                    transform rotate(45deg)
                    left 0.9167rem
                    top 1.1667rem

                .uikit-input-arrow-button-arrow::before
                    transform rotate(-45deg)
                    left 0.9167rem
                    top 2rem

            &:hover
                background-color: #4EB7A8

                .uikit-input-arrow-button-arrow::after
                .uikit-input-arrow-button-arrow::before
                    background-color white

            &[data-enabled="false"]
                background-color: #e5e5e5
                border-color #e5e5e5

                .uikit-input-arrow-button-arrow::after
                .uikit-input-arrow-button-arrow::before
                    background-color white

                &:hover
                    background-color: #e5e5e5
                    border-color #e5e5e5

                    .uikit-input-arrow-button-arrow::after
                    .uikit-input-arrow-button-arrow::before
                        background-color white