include ./button-caption/index.pug
include ./button-effect/index.pug

mixin addUIKitButton(id, caption, variant)
	div.uikit.uikit-button(id=id, data-caption=caption, data-variant=variant)
		+addUIKitButton_Caption()
		+addUIKitButton_Effect()
