.uikit-slider-thumb-upper
    position absolute
    display flex
    justify-content center
    align-items center
    flex-direction column
    pointer-events none
    opacity 0
    transition opacity 0.2s

.uikit-slider-thumb-upper.show
    opacity 1

.uikit-slider.horizontal
    .uikit-slider-thumb-upper::before
        position absolute
        content ""

.uikit-slider.horizontal
    .uikit-slider-track-upper::after
        position absolute
        content ""

.uikit-slider.vertical
    .uikit-slider-thumb-upper::before
        position absolute
        content ""

.uikit-slider.vertical
    .uikit-slider-track-upper::after
        position absolute
        content ""
