.uikit-theme-aqua
    .uikit
        &.uikit-profile-bar
            .uikit-profile-bar-info
                position relative
                height 7.75rem
                width 13.6667rem
                border-radius 0.5833rem
                padding 1rem 0
                box-sizing border-box
                display flex
                flex-direction: column
                justify-content: space-between

                &::before
                    content ""
                    position absolute
                    width 0.6667rem
                    height 0.6667rem
                    border-radius 0.25rem
                    transform rotate(45deg)
                    left -0.3333rem
                    top calc(50% - 0.3333rem)
                    border-top-left-radius: 0
                    border-bottom-right-radius: 0
                
            &[data-variant="orangered"]
                .uikit-profile-bar-info
                    background-color #e5e5e5

                    &::before
                        background-color: #e5e5e5

            &[data-variant="aqua"]
                .uikit-profile-bar-info
                    background-color #4eb7a8

                    &::before
                        background-color: #4eb7a8