.uikit-slider-rule
    position relative
    display flex
    justify-content space-between
    cursor default
    align-items center

    div.rule-item
        position absolute

        div
            cursor pointer

    div.rule-item:first-child, div.rule-item:last-child
        position relative

.uikit-slider.horizontal
    .uikit-slider-rule
        flex-direction row

.uikit-slider.vertical
    .uikit-slider-rule
        flex-direction column
