.uikit-theme-aqua
    .uikit
        &.uikit-button
            background-color white
            border 1px solid #4EB7A8
            border-radius 3px
            height 100%
            box-shadow 0 3px 0px 0px #4EB7A8
            color #4EB7A8

            &:hover
                box-shadow 0 3px 0px 0px #4EB7A8
                background-color #4EB7A8
                color white

            &:active
                box-shadow 0 0px 0px 0px #28a290

            &.error
                border 1px solid #e75735
                box-shadow 0 3px 0px 0px #e75735
                color #e75735

            &.error:hover
                box-shadow 0 3px 0px 0px #e75735
                background-color #e75735
                color white

            &.error:active
                box-shadow 0 0px 0px 0px #bf3e1f
