.uikit-theme-aqua
    .uikit
        &.uikit-stages
            position relative
            display flex
            align-items center
            justify-content center

            &[data-orientation="horizontal"]
                width 100%
                height 29px

            &[data-orientation="vertical"]
                width 29px
                height 100%
                flex-direction row
