.uikit-theme-aqua
    .uikit
        .uikit-slider-input
            height 21px
            width 100px
            background-color white
            border 1px solid #e5e5e5
            border-radius 3px
            font-family Lato
            font-size 11px
            color #4EB7A8
            padding-left 5px
            padding-right 5px

        .uikit-slider-input:focus
            border-color #4EB7A8
            box-shadow 0 2px 0 0 #4EB7A8
