.uikit-theme-aqua
    .uikit
        &.uikit-stages
            .uikit-stages-between
                position absolute

                &.staged
                    background-color #4EB7A8

            &[data-type="horizontal"]
                .uikit-stages-between
                    height 100%
                    display table-cell

            &[data-type="vertical"]
                .uikit-stages-between
                    width 100%
                    display table-row
