.uikit-theme-sea
    .uikit
        &.uikit-progress-bar
            .uikit-progress-bar-filler
                position relative
                height inherit
                background-color #255da9

            &.horizontal
                .uikit-progress-bar-filler
                    height 100%

            &.vertical
                .uikit-progress-bar-filler
                    width 100%
