.uikit-theme-aqua
    .uikit
        &.uikit-profile-bar
            .uikit-profile-bar-info
                .uikit-profile-bar-social
                    display flex
                    justify-content: space-between
                    align-items: center
                    box-sizing: border-box
                    padding 0 2.3333rem

                    a
                        width 2.0833rem
                        height 2.0833rem
                        background-repeat: no-repeat
                        background-position center

            &[data-variant="orangered"]
                .uikit-profile-bar-info
                    .uikit-profile-bar-social
                        .social-facebook
                            background-image: url("./FB.png")

                        .social-twitter
                            background-image: url("./Twitter.png")

                        .social-dribbble
                            background-image: url("./Dribbble.png")

            &[data-variant="aqua"]
                .uikit-profile-bar-info
                    .uikit-profile-bar-social
                        .social-facebook
                            background-image: url("./FB copy.png")

                        .social-twitter
                            background-image: url("./Twitter copy.png")

                        .social-dribbble
                            background-image: url("./Dribbble copy.png")
                        

