.uikit-theme-sea
    .uikit
        &.uikit-stages
            .uikit-stages-stage
                width 31px
                height 31px
                border-radius 3px
                background-color #e5e5e5

                &.staged
                    background-color #255da9
