.uikit-slider-thumb
    position absolute
    height inherit
    left 0
    display flex
    justify-content center
    top 0
    bottom 0

    .circle
        position absolute

.uikit-slider.horizontal
    .uikit-slider-thumb
        top 0
        bottom 0
        height inherit
        width 0

.uikit-slider.vertical
    .uikit-slider-thumb
        left 0
        right 0
        width inherit
        height 0
