include ../../mixins.pug

doctype html
html(lang='ru')
	head
		meta(charset="utf-8")
		meta(viewport="width=device-width")
		title UIKit - Button
	body
		div
			a(href='../') Back
		br
		+addUIKitButton('Button')