include ../../mixins.pug

doctype html
html(lang='ru')
	head
		meta(charset="utf-8")
		meta(viewport="width=device-width")
		title UIKit - Button
	body
		div
			a(href='../') Back
		br
		span styles
		select(id='style-select-id')
		br
		br
		div(style='width: 80px; height: 28px;')
			+addUIKitButton('Button 1', 'uikit-button-id')
		br
		br
		div(style='width: 80px; height: 28px;')
			+addUIKitButton('Button 2', 'uikit-button-id-2')
		br
		br
		div(style='width: 80px; height: 28px;')
			+addUIKitButton('Button 3', 'uikit-button-id-3')