.uikit-theme-aqua
    .uikit
        &.uikit-input-dropdown
            position relative
            display: flex
            flex-direction: row
            align-items: center
            height 2.3333rem
            width auto

            select 
                display none