.uikit-theme-aqua
    .uikit
        &.uikit-input-text
            .uikit-indicator
                position relative
                display flex
                justify-content center
                align-items center
                height 2.3333rem
                border-radius 0.25rem
                min-width 6.3333rem
                margin-left 0.8333rem

            .uikit-indicator::before
                position absolute
                content ""
                width 0.5833rem
                height 0.5833rem
                border-radius 0 0 0.1667rem 0
                transform rotate(135deg)
                bottom 0
                top 0
                left -0.25rem
                margin auto

            .uikit-indicator[data-enabled='false']
            .uikit-indicator[data-enabled='false']::before
                display none

            .uikit-indicator[data-status='true']
            .uikit-indicator[data-status='true']::before
                background-color #4EB7A8
            
            .uikit-indicator[data-status='false']
            .uikit-indicator[data-status='false']::before
                background-color #e75735
