.uikit-theme-aqua
    .uikit
        &.uikit-toggle
            .uikit-toggle-thumb
                position absolute
                transition left 0.2s, top 0.2s
                display flex
                transition transform 0.2s

                .circle
                    border-radius 50%
                    background-color white
                    width 1.5rem
                    height 1.5rem

            &[data-orientation='horizontal']
                .uikit-toggle-thumb
                    height 20px
                    align-items center

                    .circle
                        transform translateX(-50%)

                &[data-checked='true']
                    .uikit-toggle-thumb
                        transform translateX(200%)

                &[data-checked='false']
                    .uikit-toggle-thumb
                        transform translateX(0%)

            &[data-orientation='vertical']
                .uikit-toggle-thumb
                    width 1.6667rem
                    justify-content center

                    .circle
                        transform translateY(-50%)

                &[data-checked='true']
                    .uikit-toggle-thumb
                        transform translateY(0%)

                &[data-checked='false']
                    .uikit-toggle-thumb
                        transform translateY(200%)
