.uikit-theme-aqua
    .uikit
        &.uikit-stages
            .uikit-stages-stage
                .uikit-stage-caption
                    position relative
                    display flex
                    justify-content center
                    align-items center
                    font-family Lato
                    font-size 1.1667rem
                    color #888
                    font-weight bold
                    line-height 0rem

                &.staged
                    .uikit-stage-caption
                        color white
