.uikit-theme-aqua
    .uikit
        &.uikit-location
            position: relative
            width: 49.4167rem
            border-radius: 0.25rem
            display flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            overflow hidden

            .uikit-location-map
                position: relative
                height 17.6667rem

                img
                    height 100%

                .uikit-location-map-place-mark
                    position: absolute
                    width 5rem
                    height 5rem
                    top calc(50% - 2.5rem)
                    left calc(50% - 2.5rem)
                    background-image: url('./Shape 14.png')
                    background-repeat: no-repeat
                    background-position: center center

            .uikit-location-info
                height 5.75rem
                width 100%
                display: flex
                justify-content: space-between
                align-items: center
                background-color: #e75735
                color white
                font-family: Lato
                box-sizing: border-box
                padding 0 2.0833rem

                .uikit-location-icons
                    display flex
                    justify-content: space-between
                    align-items: center
                    width: 6.3333rem

                    .uikit-location-aim
                        width 2.25rem
                        height 2.25rem

                        a
                            display: block
                            height inherit
                            display: block
                            background-image: url('./Icon - My Location.png')
                            background-repeat: no-repeat
                            background-position: center center

                    .uikit-location-mark
                        width 2.25rem
                        height 2.25rem

                        a
                            width inherit 
                            height inherit
                            display: block
                            background-image: url('./Icon - Pin.png')
                            background-repeat: no-repeat
                            background-position: center center

                .uikit-location-text
                    display: flex
                    align-items: center
                    cursor default

                    .uikit-location-greet
                        div
                            font-family Lato
                            font-size: 2.5rem
                            font-weight: 200

                    .uikit-location-place
                        box-sizing: border-box
                        margin-left: 2.25rem

                        .uikit-location-state
                        .uikit-location-town
                            div
                                font-family Lato
                                font-size: 1rem
                                font-weight: bold
                                text-transform: uppercase
                                letter-spacing: 0.0833rem
