.uikit-theme-aqua
    .uikit
        &.uikit-profile-bar
            width 270px
            height 95px
            display flex
            flex-direction row
            align-items center
            justify-content space-between

            .uikit-profile-bar-photo
                width 84px
                height 84px
                border 5px solid #e5e5e5
                border-radius 50%
                overflow hidden