div.uikit-location-map
    img
    div.uikit-location-map-place-mark
div.uikit-location-info
    div.uikit-location-text
        div.uikit-location-greet
            div
        div.uikit-location-place
            div.uikit-location-state
                div
            div.uikit-location-town
                div
    div.uikit-location-icons
        div.uikit-location-aim
            a(href="#")
        div.uikit-location-mark
            a(href="#")