.uikit-theme-aqua
    .uikit
        &.uikit-input-dropdown
            .uikit-input-dropdown-button
                width 2.75rem
                height 2.3333rem
                border-top-right-radius: 0.25rem
                border-bottom-right-radius: 0.25rem
                background-color: #4eb7a8
                display: flex
                align-items: center
                justify-content: center
                cursor pointer
                transition: background-color 0.2s

                .uikit-input-dropdown-button-arrow
                    width 0.6667rem
                    height 0.6667rem
                    border 0.1667rem solid white
                    border-top: none
                    border-right: none
                    transform: rotate(-45deg)
                    margin-bottom: 0.3333rem

            .uikit-input-dropdown-button:hover
                background-color: #28a290