.uikit-theme-aqua
    .uikit
        &.uikit-input-dropdown
            .uikit-input-dropdown-button
                width 33px
                height 28px
                border-top-right-radius: 3px
                border-bottom-right-radius: 3px
                background-color: #4eb7a8
                display: flex
                align-items: center
                justify-content: center
                cursor pointer
                transition: background-color 0.2s

                .uikit-input-dropdown-button-arrow
                    width 8px
                    height 8px
                    border 2px solid white
                    border-top: none
                    border-right: none
                    transform: rotate(-45deg)
                    margin-bottom: 4px

            .uikit-input-dropdown-button:hover
                background-color: #28a290