.uikit-theme-aqua
    .uikit
        &.uikit-toggle
            .uikit-toggle-thumb
                .circle
                    background-color white
                    width 18px
                    height 18px

            &.horizontal
                .uikit-toggle-thumb
                    height 20px

                .uikit-toggle-thumb.checked
                    left 100%

                .uikit-toggle-thumb:not(.checked)
                    left 0

            &.vertical
                .uikit-toggle-thumb
                    width 20px

                .uikit-toggle-thumb.checked
                    top 0

                .uikit-toggle-thumb:not(.checked)
                    top 100%
