include ./indicator-caption/index.pug

mixin addUIKitInputText_Indicator(enabled, okText, errorText)
	div.uikit-indicator(data-enabled=!enabled ? "true" : "false")
		+addUIKitInputText_Caption(okText, errorText)
