.uikit-indicator
    position relative
    display flex
    justify-content center
    align-items center

.uikit-indicator.disabled
    display none

.uikit-indicator.disabled:before
    display none

.uikit-indicator.disabled:after
    display none

.uikit-indicator::before
    position absolute
    content ""
