.uikit-slider-track
	position relative
	height 21px
	width 100%
	display flex
	align-items center 
	
.uikit-slider-track.horizontal
	height 21px
	width 100%
		
.uikit-slider-track.vertical
	width 21px 
	height 100%
