.uikit-theme-aqua
    .uikit
        &.uikit-stages
            .uikit-stages-stage
                .uikit-stage-caption
                    font-family Lato
                    font-size 14px
                    color #888
                    font-weight bold
                    line-height 0px

                &.staged
                    .uikit-stage-caption
                        color white
