include ../../mixins.pug

doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(viewport="width=device-width")
        title UIKit - Input-text
    body
        div
            a(href='../') Back
        br
        span styles
        select(id="styles-id")
        br
        div(style='width: 100px;')
            input(type='text').uikit-input-text
        br
        br
        div Форма "сообщение"
        +UIKitForm({name: 'my-form'})&attributes({'style': 'width: 288px; height: 210px;'})
            +addUIKitInputText('form-ui-input-name-id', 'Your Name', true, 'thanks', 'error')
            +addUIKitInputText('form-ui-input-email-id', 'Your Email', true, 'thanks', 'error')
            +addUIKitTextarea('form-ui-textarea-id', 'Your Message', 1, 3, false)
            div(style="height: 32px; display: flex; justify-content: flex-end;")
                div(style="width: 118px; height: inherit;")
                    +addUIKitButton('form-ui-btn-id', 'submit')
