.uikit-theme-aqua
    .uikit
        &.uikit-toggle
            .uikit-toggle-thumb
                position absolute
                transition left 0.2s, top 0.2s
                display flex

                .circle
                    border-radius 50%
                    background-color white
                    width 18px
                    height 18px

            &.horizontal
                .uikit-toggle-thumb
                    height 20px
                    align-items center

                    .circle
                        transform translateX(-50%)

                &.checked
                    .uikit-toggle-thumb
                        left 100%

                &:not(.checked)
                    .uikit-toggle-thumb
                        left 0

            &.vertical
                .uikit-toggle-thumb
                    width 20px
                    justify-content center

                    .circle
                        transform translateY(-50%)

                &.checked
                    .uikit-toggle-thumb
                        top 0
                        background-color red

                &:not(.checked)
                    .uikit-toggle-thumb
                        top 100%
                        background-color green
