.uikit-theme-aqua
    .uikit
        &.uikit-input-text
            .uikit-indicator
                height 28px
                border-radius 3px
                min-width 76px
                margin-left 10px

            .uikit-indicator.indicator-ok
                background-color #4EB7A8

            .uikit-indicator:not(.indicator-ok)
                background-color #e75735

            .uikit-indicator::before
                position absolute
                content ""
                width 7px
                height 7px
                border-radius 0 0 2px 0
                transform rotate(135deg)
                bottom 0
                top 0
                left -3px
                margin auto

            .uikit-indicator:not(.indicator-ok)::before
                background-color #e75735

            .uikit-indicator.indicator-ok::before
                background-color #4EB7A8
