.uikit-stages-stage
	position relative
	width 31px
	height 31px
	border-radius 50%
	background-color #e5e5e5
	display flex
	justify-content center
	align-items center
	background-color #e5e5e5
	
.uikit-stages-stage.staged
	background-color var(--color-1)