mixin addUISliderC(id, minimum, maximum)
	div.ui-slider(id=id, minimum=minimum, maximum=maximum, value='0')
		div.ui-slider-track
			div.ui-slider-track-fill
				div.ui-slider-track-fill-left
			div.ui-slider-track-upper
				div.no-select 0
			div.ui-slider-thumb
				div.ui-slider-thumb-upper
					div.no-select 0
		div.ui-slider-rule(segments='5')
