div.mask
    video
div.uikit-video-player-title
    div.uikit-video-player-name
    div.uikit-video-player-author
    div.uikit-video-player-link
        p
div.uikit-video-player-controls
    div.uikit-video-player-pp
    div.uikit-video-player-range
        div.current-time.no-select
            span 00:00:00
        div.range
            div.track
                div.filler
                    div.filled
                div.upper.no-select
                    div 00:00:00
        div.duration.no-select
            span 00:00:00
    div.uikit-video-player-sound
        div.sound-box
            div.pic
            div.sound-range
                div.sound-track
                    div.sound-filler
                        div.sound-filled
    div.uikit-video-player-fsbtn