@font-face
    font-family Lato
    src url('./fonts/Lato/Lato-Regular.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family Lato
    src url('./fonts/Lato/Lato-Bold.ttf') format('truetype')
    font-weight bold
    font-style normal

@font-face
    font-family Lato
    src url('./fonts/Lato/Lato-Light.ttf') format('truetype')
    font-weight 300
    font-style normal

@font-face
    font-family Lato
    src url('./fonts/Lato/Lato-Thin.ttf') format('truetype')
    font-weight 200
    font-style normal

@font-face
    font-family Lato
    src url('./fonts/Lato/Lato-Black.ttf') format('truetype')
    font-weight 900
    font-style normal

@font-face
    font-family Lato
    src url('./fonts/Lato/Lato-Heavy.ttf') format('truetype')
    font-weight 800
    font-style normal

@font-face
    font-family Lato
    src url('./fonts/Lato/Lato-Hairline.ttf') format('truetype')
    font-weight 100
    font-style normal

@font-face
    font-family Source Sans Pro
    src url('./fonts/SourceSansPro/SourceSansPro-ExtraLight.otf') format('opentype')
    font-weight 100
    font-style normal

@font-face
    font-family Source Sans Pro
    src url('./fonts/SourceSansPro/SourceSansPro-Light.otf') format('opentype')
    font-weight 200
    font-style normal

@font-face
    font-family Source Sans Pro
    src url('./fonts/SourceSansPro/SourceSansPro-Regular.otf') format('opentype')
    font-weight normal
    font-style normal

@font-face
    font-family Source Sans Pro
    src url('./fonts/SourceSansPro/SourceSansPro-SemiBold.otf') format('opentype')
    font-weight 700
    font-style normal

@font-face
    font-family Source Sans Pro
    src url('./fonts/SourceSansPro/SourceSansPro-Bold.otf') format('opentype')
    font-weight bold
    font-style normal

@font-face
    font-family Source Sans Pro
    src url('./fonts/SourceSansPro/SourceSansPro-Black.otf') format('opentype')
    font-weight 900
    font-style normal

body
    height 100%

html
    height 100%

.box
    width 118px
    height 31px

.no-select
    -webkit-touch-callout none /* iOS Safari */
    -webkit-user-select none /* Safari */
    -khtml-user-select none /* Konqueror HTML */
    -moz-user-select none /* Firefox */
    -ms-user-select none /* Internet Explorer/Edge */
    user-select none
