include ./uikit/uikit-slider/index.pug

doctype html
html(lang='ru')
	head
		meta(charset="utf-8")
		meta(viewport="width=device-width")
		title UI Kit
	body
		br
		br
		br
		+addUIKit_Slider('uikit-slider-id', -30, 30, 0, 5)
