include ./mixins.pug

doctype html
html(lang='ru')
	head
		meta(charset="utf-8")
		meta(viewport="width=device-width")
		title UI Kit
	body
		div
			a(href='./slider') slider
		div
			a(href='./button') button
		div
			a(href='./radial-progress') radial-progress
		div
			a(href='./arrow-button') arrow-button
		div
			a(href='./stages') stages
		div
			a(href='./input-text') input-text
		div
			a(href='./textarea') textarea
		div
			a(href='./toggle') toggle
		div
			a(href='./progress-bar') progress-bar
		div
			a(href='./tickbox') tickbox
