include ./uikit/input/index.pug
include ./uikit/profile-bar/head.pug
include ./uikit/news/head.pug
include ./uikit/event/head.pug
include ./uikit/video-player/head.pug
include ./uikit/message-box/head.pug
include ./uikit/location/head.pug
include ./uikit/calendar/head.pug
include ./uikit/stages/head.pug
include ./uikit/tickbox/head.pug
