div.uikit-message-box-1
    div.uikit-message-box-name
div.uikit-message-box-2
div.uikit-message-box-3
    div.uikit-message-box-icons
        div.chat
            a(href="#")
        div.photo
            img
        div.camera
            a(href="#")
    div.uikit-message-box-recieved
        div
    div.uikit-message-box-textarea
        div.uikit.uikit-input-textarea(data-type="textarea")
    div.uikit-message-box-btn
        div.uikit.uikit-button(data-type="submit")


