.uikit-theme-aqua
    .uikit
        &.uikit-slider
            .uikit-slider-rule
                div.rule-item
                    div
                        font-family Lato
                        font-size 11px
                        color #d1d1d1
                        font-weight bold

                    div:hover
                        color #4EB7A8

            &.horizontal
                .uikit-slider-rule
                    margin-top 3px

            &.vertical
                .uikit-slider-rule
                    margin-left 3px

                    div.rule-item:first-child
                        line-height 7px

                    div.rule-item:last-child
                        line-height 7px
