include ./input/index.pug
include ./indicator/index.pug

mixin addUIKitInputText(caption, indicatorEnabled, okText, errorText)
	div.uikit.uikit-input-text(data-indicator=indicatorEnabled ? "true" : "false")
		+addUIKitInputText_Input(caption)
		+addUIKitInputText_Indicator(indicatorEnabled, okText, errorText)
