.uikit-arrow-button
    position relative
    transition background-color 0.2s, border-radius 0.2s
    cursor pointer

.uikit-arrow-button.disabled
    cursor default

.uikit-arrow-button.disabled::after
    cursor default !important

.uikit-arrow-button.disabled::before
    cursor default !important

.uikit-arrow-button.right::after
    content ""
    position absolute
    transition background-color 0.2s

.uikit-arrow-button.right::before
    content ""
    position absolute
    transition background-color 0.2s

.uikit-arrow-button.left::after
    content ""
    position absolute
    transition background-color 0.2s

.uikit-arrow-button.left::before
    content ""
    position absolute
    transition background-color 0.2s
