.uikit-theme-aqua
    .uikit
        &.uikit-message-box
            width 24rem
            min-height: 35.6667rem
            border-radius: 0.25rem
            overflow hidden
            display flex
            flex-direction: column
            align-items: center
            justify-content: space-between

            .uikit-message-box-1
                width: 100%
                min-height 6.75rem
                display: flex
                justify-content: center
                align-items: center

                div
                    font-size 2.8333rem
                    color white
                    font-weight: 200
                    text-align: center
                    font-family: Source Sans Pro

            .uikit-message-box-2
                width: 100%
                height 2.8333rem

            .uikit-message-box-3
                flex 1
                display flex
                flex-direction: column
                background-color: #f2f2f2
                justify-content: space-between
                align-items: center
                box-sizing: border-box
                padding 0 1.9167rem
                padding-bottom: 2.1667rem

                .uikit-message-box-icons
                    position relative
                    display flex
                    justify-content: space-between
                    align-items: center
                    box-sizing: border-box
                    padding-top 1.8333rem
                    width: 100%

                    .chat
                        width 2.0833rem
                        height 2.0833rem

                        a
                            display block
                            width: inherit
                            height inherit
                            background-image: url('./Chat Icon.png')
                            background-repeat: no-repeat
                            background-position: center center

                    .photo
                        width 7rem
                        height 7rem
                        border 0.4167rem solid #e5e5e5
                        background-color: #e5e5e5
                        position: absolute
                        left calc(50% - 3.9167rem)
                        top -3.9167rem
                        border-radius: 50%
                        overflow hidden

                        img
                            width 100%
                            height 100%

                    .camera
                        width 2.0833rem
                        height 2.0833rem
                        
                        a
                            display block
                            width: inherit
                            height inherit
                            background-image: url('./Camera Icon.png')
                            background-repeat: no-repeat
                            background-position: center center

                .uikit-message-box-recieved
                    background-color: white
                    border-radius: 0.4167rem
                    overflow hidden
                    box-sizing: border-box
                    padding: 1.6667rem
                    margin-top 1.6667rem

                    div
                        font-family: Lato
                        color #868686
                        font-size: 1rem
                        font-weight: normal
                        text-align: left

                .uikit-message-box-textarea
                    margin-top 1.6667rem
                    width: 100%

                    textarea
                        padding 0 1.3333rem
                        padding-top 1.3333rem
                        border 0.25rem solid white
                        border-radius: 0.25rem
                        color #777
                        font-size: 1rem
                        font-weight: normal
                        font-family: Lato

                .uikit-message-box-btn
                    width 100%
                    height 2.6667rem
                    padding-top 1.6667rem
                
        &[data-variant="aqua"]
            .uikit-message-box-1
                background-color: #4eb7a8

            .uikit-message-box-2
                background-color: #46ab9d

            .uikit-message-box-btn
                .uikit-button
                    background-color: #4eb7a8
                    box-shadow 0 0.25rem 0rem 0rem #28a290
                    border none
                    color white

                    &:hover
                        background-color #28a290
                        box-shadow 0 0.25rem 0rem 0rem #227569

                    &:active
                        box-shadow 0 0rem 0rem 0rem #28a290

        &[data-variant="orangered"]
            .uikit-message-box-1
                background-color: #e75735

            .uikit-message-box-2
                background-color: #d54c2c

            .uikit-message-box-btn
                .uikit-button
                    background-color: #e75735
                    box-shadow 0 0.25rem 0rem 0rem #bf3e1f
                    border none
                    color white

                    &:hover
                        background-color #bf3e1f
                        box-shadow 0 0.25rem 0rem 0rem #9c2c16

                    &:active
                        box-shadow 0 0rem 0rem 0rem #9c2c16
                            
