.uikit-theme-aqua
    .uikit
        &.uikit-button
            position relative
            display flex
            flex-direction column
            justify-content center
            height 100%
            background-color white
            border 0.0833rem solid #4EB7A8
            border-radius 0.25rem
            box-shadow 0 0.25rem 0rem 0rem #4EB7A8
            color #4EB7A8
            cursor pointer
            overflow hidden
            transition 0.2s

            input
                display none

            &:hover
                box-shadow 0 0.25rem 0rem 0rem #28a290
                background-color #4EB7A8
                color white

            &:active
                box-shadow 0 0rem 0rem 0rem #4EB7A8

            &[data-variant$="error"]
                border 0.0833rem solid #e75735
                box-shadow 0 0.25rem 0rem 0rem #e75735
                color #e75735

            &[data-variant$="error"]:hover
                box-shadow 0 0.25rem 0rem 0rem #bf3e1f
                background-color #e75735
                color white

            &[data-variant$="error"]:active
                box-shadow 0 0rem 0rem 0rem #e75735

            &[data-variant^="regular"]
                width 6.6667rem
                height 2.3333rem

            &[data-variant^="event"]
                width 10.6667rem
                height 1.8333rem
                border-radius 0.3333rem
                border none

                .uikit-button-caption
                    font-size: 0.8333rem
                    text-align: center
                    font-weight: bold

            &[data-variant="event.aqua"]
                width 10.6667rem
                height 1.8333rem
                box-shadow 0 0.25rem 0rem 0rem #28a290
                border-radius 0.3333rem
                border none

                &:hover
                    background-color #28a290
                    box-shadow 0 0.25rem 0rem 0rem #227569
                
                &:active
                    box-shadow 0 0rem 0rem 0rem #28a290

                .uikit-button-caption
                    font-size: 0.8333rem
                    text-align: center
                    font-weight: bold

            &[data-variant="event.orangered"]
                width 10.6667rem
                height 1.8333rem
                box-shadow 0 0.25rem 0rem 0rem #bf3e1f
                border-radius 0.3333rem
                border none

                &:hover
                    background-color #bf3e1f
                    box-shadow 0 0.25rem 0rem 0rem #9c2c16
                
                &:active
                    box-shadow 0 0rem 0rem 0rem #bf3e1f

                .uikit-button-caption
                    font-size: 0.8333rem
                    text-align: center
                    font-weight: bold

